<div>

<h2>Leave A Comment For This Blog</h2>
</div>
    

    <div class="card-header col-md-12 blog">
        <h3>{{user.user_name}}</h3>
        <p>{{title}}</p>
        <p>{{content}}</p>
        <p>{{#each comments as |comment|}}</p>
        <p>{{comment.comment}}</p>
        {{/each}}
    </div>


  <div class="col-md-6">
    <h3>Add a Comment:</h3>
    <form class="form new-comment-form">
      <div class="form-group">
        <input class="form-input" type="text" id="new-comment" name="comment-name" />
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    </div>



<script src="/js/comment.js"></script>
<script type="text/javascript">
    /*
    const remFavorite = async (event) => {
        event.preventDefault();

        const user_id = 2;
        const url = window.location.href;
        let blog_id = '';
        let c = '';
        var i = 1;
        while (c !== '/') {
            blog_id = url[url.length - i] + blog_id;
            i++;
            c = url[url.length - i];
        }

        if (user_id && blog_id) {
            const response = await fetch('/api/comment', {
                method: 'POST',
                body: JSON.stringify({ blog_id }),
                headers: { 'Content-Type': 'application/json' },
            });

            if (response.ok) {
                document.location.replace('/dashboard');
            } else {
                //document.location.replace('/homepage');
            }
        }
        //document.location.replace('/homepage');
    };

    document
        .querySelector('#rem-com')
        .addEventListener('click', remComment);
    */
</script>