 <div>
    <h1>Welcome!</h1>
    <h5>Checkout any of our fabulous blogs below</h5>
</div>
<div>
<ul>
    {{#each blog_data as |blog|}}

    <li>
        <p>{{title}}</p>
        <p>{{content}}</p>
        
    </li>

    {{/each}}

</ul>
</div>
